<h1>Hello {{name}}</h1>
<ul>
	<li>Email : {{email | reverseString}}</li>
	<li>Age : {{age}}</li>
	<li>Address : {{address.street}} {{address.city}} ,{{address.state}} </li>
</ul>

<button (click)="onClick()">Click me</button>
<button (click)="toggleEdit()">Edit user</button>
<form *ngIf="isEdit">
	<div>
		<label for="name">Name : </label>
		<input type="text" name="name" [(ngModel)]="name">
	</div>
	<div>
		<label for="age">Age : </label>
		<input type="text" name="age" [(ngModel)]="age">
	</div>
	<div>
		<label for="email">Email : </label>
		<input type="text" name="email" [(ngModel)]="email">
	</div>
	<div>
		<label for="street">Street : </label>
		<input type="text" name="street" [(ngModel)]="address.street">
	</div>
	<div>
		<label for="city">City : </label>
		<input type="text" name="city" [(ngModel)]="address.city">
	</div>
	<div>
		<label for="state">State : </label>
		<input type="text" name="state" [(ngModel)]="address.state">
	</div>
</form>
<br><br>
<form (submit)="addHobby(hobby.value)">
	<div>
		<label for="hobby">Hobby : </label>
		<input type="text" #hobby>
	</div>
</form>
<br>
<h1>Hobbies : </h1>
<ul>
	<li *ngFor="let hobby of hobbies,let i = index">
		{{i+1}} : {{hobby}} <button (click)="deleteHobby(i)">X</button>
	</li>
</ul>


<button (click)="show = !show">
	{{show? 'hide':'show'}}
</button>

<h1>Show : {{show}}</h1>
<div *ngIf="show;then thenBlock;else elseBlock">YOLO</div>
<!-- <ng-template #thenBlock><h2>Then Block</h2></ng-template> -->
<ng-template #elseBlock><h2>Else Block</h2></ng-template>

<button (click)="switchPrimary()">Switch Primary</button>
<ng-template #primaryBlock>Primary Block</ng-template>
<ng-template #secondaryBlock>Secondary Block</ng-template>

<!-- <ng-template [ngIf]="show">
	<p>Srijan Garg</p>
</ng-template> -->

<!-- <p *myNgIf>Srijan Garg</p> -->

<ng-template myNgIf>
	<p>Srijan Garg</p>
</ng-template>
