<div class="section-divider">
	<div class="animals-inside">
		<h1>Cats ( {{ catCount | async }} )</h1>
		<h3>The first cat's name is {{catName |async}}</h3>
		<div class="" *ngFor="let cat of cats | async">
			<div class="single-col">
				<img [src]="cat.url">
				<h2>{{cat.name}}</h2>
			</div>
		</div>
	</div>
	<div class="animals-inside">
		<h1>Dogs ( {{ dogCount }} )</h1>
		<h3>The first dog's name is {{dogName |async}}</h3>
		<div class="" *ngFor="let dog of dogs">
			<div class="single-col">
				<img [src]="dog.url">
				<h2>{{dog.name}}</h2>
			</div>
		</div>
	</div>
</div>